.contact-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.contact {
  padding: 2rem 0;
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}
.contact p {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.contact-container form input {
  margin-bottom: 1rem;
  background-color: rgb(205, 203, 203);
  padding: 12px 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 500px;
}

.contact-container form input:last-of-type {
  padding: 3rem 10px;
  line-height: normal;
  vertical-align: top;
  height: 50px;
}
.contact button {
  padding: 8px 2rem;
}
.contact-icons {
  color: white;
  display: flex;
  margin-top: 2rem;
}
.contact-icons li {
  margin-right: 2rem;
  cursor: pointer;
}
@media (max-width: 778px) {
  .contact-container {
    margin-top: 50rem;
  }
}
@media (max-width: 688px) {
  .contact-container form input {
    padding: 12px 100px;
  }
  .contact-container form input:last-of-type {
    padding: 3rem 100px;
  }
  .contact h1 {
    font-size: small;
  }
  .contact-container form input {
    border-radius: 0;
  }
  .btn {
    border-radius: 25px;
  }
}
