.hero {
  height: calc(100vh - 8rem);
  background-color: rgb(18, 30, 39);

  overflow: hidden;
}

.hero-section {
  max-width: 80%;
  padding: 10rem 4rem 4rem 4rem;
  text-align: left;
}

.hero-section h1 {
  font-size: 3rem;
  color: white;
  font-weight: 300;
}

.hero-section p {
  margin-top: 1rem;
  color: white;
}

.dowloadResume {
  cursor: pointer;
  padding: 10px 0;
}
.dowloadResume a {
  border-bottom: 2px solid #ed6955;
  color: #ed6955;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.contactIcons {
  color: rgb(18, 30, 39);
  display: flex;
  margin-top: 1rem;
}
.contactIcons li {
  margin-right: 2rem;
  cursor: pointer;
}
.contactIcon {
  width: 40px;
  height: 40px;
  color: #ed6955;
}
.DownloadAlt {
  color: #ed6955;
  font-size: 18px;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

@media (max-width: 425px) {
  .hero-section {
    max-width: 38%;
    padding: 4rem 1.4rem 2rem 1.4rem;
  }

  .hero-section h1 {
    font-size: 2.4rem;
  }
  .contactIcon {
    width: 30px;
    height: 30px;
  }
  .contactIcons li {
    margin-right: 1.3rem;
    cursor: pointer;
  }
  .dowloadResume {
    cursor: pointer;
    padding: 15px 0;
  }
}
