.porfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.porfolio-container p {
  margin: 2rem 0;
}
.Projectwrapper {
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  width: 300px;
  margin: 20px;
}
.image-wrapper img {
  border-radius: 8px;
  height: 300px;
  width: 100%;
  margin: auto;
  display: block;
}
.project-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  padding: 1rem;
}
.project-content:hover {
  opacity: 1;
}
.project-content h1 {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  margin: 1rem 0;
}
.project-content a {
  margin-top: 2rem;
}
.project-content > * {
  transform: translateY(25px);
  transition: transform 0.06s;
}
.project-content:hover > * {
  transform: translateY(0px);
}
@media (max-width: 778px) {
  .porfolio-container {
    height: 100vh;
  }
  .Projectwrapper {
    width: 600px;
  }

  .image-wrapper {
    width: 600px;
    margin: 20px;
  }
  .image-wrapper img {
    height: 400px;
  }
}
