.projectContainer {
  background-color: white;
  min-height: 100vh;
}
.projectHeading {
  text-align: left;
  margin-left: 4rem;
  color: rgb(18, 30, 39);
  font-weight: 800;
  margin-bottom: 2rem;
}
.projectHeading h1 {
  font-size: 40px;
}
.image-wrapper {
  width: min(300px);
  height: max(250px);
  margin-bottom: 6rem;
  margin-left: 10rem;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.projectwrapper {
  display: flex;
  margin-bottom: 3rem;
}
.projectContent {
  max-width: 600px;
  text-align: left;
  margin-left: 4rem;
}
.projectContainer h1 {
  color: rgb(18, 30, 39);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.projectContent p {
  font-size: 18px;
}
.viewProjectBtn {
  background-color: #ed6955;
  padding: 8px 16px;
  margin-top: 2rem;
}
.projectSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  margin: 1rem 0;
}
.projectSkills button {
  background-color: rgb(18, 30, 39);
  margin: 2px;
  padding: 3px 8px;
  font-size: 12px;
  cursor: pointer;
}
@media (max-width: 425px) {
  .projectwrapper {
    flex-direction: column;
    margin-top: 3rem;
  }
  .projectHeading {
    margin-top: 5rem;
    margin-left: 8rem;
  }

  .image-wrapper {
    width: min(600px);
    height: max(500px);
    margin: 6rem 0;
    margin-left: 8rem;
  }
  .image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
  }

  .projectContent {
    max-width: 700px;

    margin-left: 8rem;
  }
  .projectContainer h1 {
    font-size: 60px;

    margin-bottom: 2rem;
  }
  .projectContent p {
    font-size: 48px;
  }
  .viewProjectBtn {
    padding: 18px 26px;
    font-size: 39px;
  }
  .projectSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: flex-start;
    margin: 1rem 0;
  }
  .projectSkills button {
    background-color: rgb(18, 30, 39);
    margin: 2px;
    padding: 9px 18px;
    font-size: 40px;
    cursor: pointer;
  }
}
