.skillsContainer {
  background-color: white;
}
.skillsHeading h1 {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(18, 30, 39);
  text-align: left;
  margin-left: min(4rem);
  margin-bottom: 3rem;
}
.skillsContainer img {
  width: min(350px);
  height: max(380px);
  margin-right: min(4rem);
  border-radius: 2rem;
}
.frontendbtn {
  padding: 0 3px;
}
.skillsWrapper {
  margin-left: min(4rem, 70%);
  display: flex;
  justify-content: left;
  gap: 2rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.skills button {
  background-color: rgb(18, 30, 39);
  margin: 2px;
  padding: 6px 25px;
  cursor: pointer;
}
.bio {
  max-width: 50%;
  text-align: left;
}
.aboutP h4 {
  margin-bottom: 6px;
  font-size: 36px;
  font-weight: 600;
}
.aboutP a {
  margin-top: 3rem;
  font-size: 26px;
  font-weight: 500;
  color: #ed6955;
}
.aboutP p {
  font-size: 28px;
}

@media (max-width: 778px) {
  .skillsWrapper {
    margin: 6rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skillsHeading h1 {
    font-size: 40px;
    padding-top: 5rem;
  }
  .skillsContainer img {
    width: max(550px);
    height: max(600px);
    margin-right: 12rem;
    border-radius: 2rem;
  }
  .skills button {
    background-color: rgb(18, 30, 39);
    margin: 2px;
    padding: 6px 25px;
    font-size: 38px;
  }
  .bio {
    margin: 2rem;
    max-width: 70%;
  }
  .aboutP {
    margin-top: 3rem;
    font-size: 40px;
  }
  .aboutP a {
    margin-top: 2rem;
    font-size: 45px;
  }
}

@media (max-width: 425px) {
  .skillsWrapper {
    margin: 6rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skillsHeading h1 {
    padding-top: 3rem;
    font-weight: 600;
  }
  .skillsContainer img {
    width: max(550px);
    height: max(600px);
    margin-right: 10rem;
    border-radius: 2rem;
  }
  .skills button {
    background-color: rgb(18, 30, 39);
    margin: 2px;
    padding: 6px 25px;
    font-size: 38px;
  }
  .bio {
    margin: 2rem;
    max-width: 70%;
  }
  .aboutP {
    margin-top: 3rem;
    font-size: 50px;
  }
  .aboutP p {
    margin-top: 3rem;
    font-size: 45px;
  }
  .aboutP h4 {
    margin-top: 3rem;
    font-size: 56px;
  }
  .aboutP a {
    margin-top: 2rem;
    font-size: 46px;
  }
}
