.skillsContainer {
  min-height: 100vh;
  background-color: white;
}
.skillsHeading h1 {
  font-size: 2rem;
  color: rgb(18, 30, 39);
  text-align: left;
  margin-left: min(4rem);
  margin-bottom: 3rem;
}
.skillsContainer img {
  width: min(350px);
  height: max(380px);
  margin-right: min(4rem);
  border-radius: 2rem;
}
.frontendbtn {
  padding: 0 3px;
}
.skillsWrapper {
  margin-left: min(4rem, 70%);
  display: flex;
  justify-content: left;
  gap: 2rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.skills button {
  background-color: rgb(18, 30, 39);
  margin: 2px;
  padding: 6px 25px;
  cursor: pointer;
}
.bio {
  max-width: 50%;
  text-align: left;
}
.aboutP h4 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
}
.aboutP h3 {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
  color: #ed6955;
}
@media (max-width: 425px) {
  .skillsWrapper {
    margin: 6rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skillsHeading h1 {
    font-size: 5rem;

    padding-top: 5rem;
  }
  .skillsContainer img {
    width: max(550px);
    height: max(600px);
    margin-right: 0rem;
    border-radius: 2rem;
  }
  .skills button {
    background-color: rgb(18, 30, 39);
    margin: 2px;
    padding: 6px 25px;
    font-size: 38px;
  }
  .bio {
    margin: 2rem;
    max-width: 70%;
  }
  .aboutP {
    margin-top: 3rem;
    font-size: 45px;
  }
  .aboutP h3 {
    margin-top: 2rem;
    font-size: 46px;
  }
}
