@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
html,
body {
  height: 100%;
}
html {
  display: table;
  width: 100%;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

li {
  list-style: none;
}
.btn {
  background: #ed6955;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 1rem;
}
.btn:hover {
  font-size: 16px;
}
.btn-light {
  border: 1px solid #ed6955;

  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}
.btn-light:hover {
  border: none;
  background-color: rgb(235, 216, 151);
  color: black;
}
@media (min-width: 778px) {
  .btn {
    padding: 8px 20px;
  }
  .btn-light {
    padding: 8px 20px;
  }
}
@media (max-width: 776px) {
  .btn {
    padding: 5px 12px;
    font-size: 65px;
  }
  .btn-light {
    padding: 5px 12px;
  }
}
